<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Website CSS style -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Website Font style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <title>Dashboard</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Yhacks Money</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/expenses">My expenses</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
<h1 style="text-align:center; color:blue;">Dashboard </h1>
<br>
<h2 style="text-align:center; color:red;">Expenses</h2>
<hr>
<div class="row">
<div class="col-sm-4">
<table class="table table-bordered">
<caption style="text-align:center;"> Current Month </caption>
    <thead>
      <tr>
        <th>TYPE</th>
        <th>COST</th>
      </tr>
    </thead>
    <tbody>
<% if(message == "data") {

for(var i=0; i<data.length; i++) {
if(data[i].MONTH!=null){ %>
      <tr>
        <td><%=data[i].TYPE%></td>
        <td><%=data[i].AMOUNT%></td>
      </tr>
<%}}}%>    
</tbody>
  </table>
</div>
<div class="col-sm-4">
    <table class="table table-bordered">                                            
      <caption style="text-align:center;"> Current Year </caption>                         
      <thead>                                                                     
        <tr>                                                                      
          <th>TYPE</th>                                                           
          <th>COST</th>                                                           
        </tr>                                   
      </thead>                                                                    
      <tbody>                                                                     
        <% if(message=="data") { 
for(var i=0; i<data.length; i++) {
            if(data[i].MONTH==null){%>                                         
          <tr>                                                                      
            <td><%=data[i].TYPE%></td>                                              
            <td><%=data[i].AMOUNT%></td>                                            
          </tr>                                                                     
          <%}}}%>                                                                           
        </tbody>                                                                        
      </table> 
</div>
<div class="col-sm-4"></div>
//PIE CHART GOES HERE
</div>
<div class="row">
<h2>Expenses Bar Chart</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>



</div>
  </div>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
